body {
	color:white;
/*	background:#abcfd6;
*/}

.container {
	margin-top:5em;
	border:5px solid #85b3e6;
	-moz-border-radius:10px;
	-webkit-border-radius:5px;
/*	background-color:#1e9fec;
*/	
/*	background-color:#ad0091;
*/
	background:#f2b614;
	padding:2em 0;
}

form {
	width:650px;
	margin:0 auto;
}

input {
  border:2px solid #d9a311 !important;
  color: #404048;
  display: block;
  font-size: 3.8em;
  margin-bottom: 0.8em;
  padding: 0.2em; }

label {
/*	color:#404048;
*/
/*  color:#47e74e;	
*/	
	color:white;
	display:block;
	font-size:3em;
	margin-bottom:0.5em;
}
