body {
	color:white;
	font-weight:bold;
}

a {
	text-decoration:none;
	color:#f2b614;
	font-weight:bold;
}

a:hover {
	color:#85b3e6;
	text-decoration:underline;
}

.container {

}

#main_content {
	margin-top:5em;
	border:5px solid #85b3e6;
	-moz-border-radius:10px;
	-webkit-border-radius:5px;
	position:relative;
	background:#f2b614;
	padding:2em 0 2em 0;
}

form {
	width:650px;
	margin:0 auto;
}

input#password {
  border:2px solid #d9a311 !important;
  color: #404048;
  display: block;
  font-size: 3.8em;
  margin-bottom: 0.8em;
  padding: 0.2em 0.2em 0.3em 0.2em; 
	width:628px;
	background: #ffffff url('/images/meter_input_sprite.png') 0px 0px repeat-x;
}

label {
	color:white;
	display:block;
	font-size:3em;
	margin-bottom:0.5em;
}

#pwdTest {
	font-size:2em;
	margin-top:-0.5em;
}

#Words {
	font-weight:bold;
	font-style:italic;
}

#checkmark{
	display:none;
	width:80px;
	height:78px;
	position:absolute;
	right:4em;
	top:8.4em;
	background: url('/images/checkmark.png') 0 0 no-repeat;
}

#footer {
	margin-top:5em;
}